//Colours 

$primary-colour: #f2cfda;
$secondary-colour: #ffffff;
$button-colour-primary: #219bc3;
$button-colour-secondary: #68417f;
$font-colour: #000000;

// General styles

* { 
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figure {
    margin: 0;
}

// Accessible skip-link styles 

.skip-link {
    position: absolute;
    left:-1000px;
    top:5px;
    z-index:999;
    background-color: $secondary-colour;
    color: $font-colour;
    font-family: 'Nova Flat', cursive;
}

.skip-link:focus {
    left:0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

// Button styles throughout quiz 

.nav-button-container,
[type=submit] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button-container a,
[type=submit],
.quiz-reset a {
    font-family: "Rye", cursive;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
    background-color: $button-colour-primary;
    box-shadow: 5px 5px 3px black;
}

.nav-button-container a:hover,
.nav-button-container a:focus,
[type=submit]:hover,
[type=submit]:focus,
.quiz-reset a:hover,
.quiz-reset a:focus {
    background-color: $button-colour-secondary;
    color: $secondary-colour;
}

.nav-button-container a:active,
[type=submit]:active,
.quiz-reset a:active {
    transform: translate(3px, 2px);
    box-shadow: 1px 1px 0px black;
}



[type=radio] {
    transform: scale(2);
    margin-right: 20px;
    // color: grey;


}

// Responsive styles

@media (max-width: 480px) {

    [type=submit] {
        margin-top: 10px;

    }
}