
* { 
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figure {
    margin: 0;
}

.skip-link {
    position: absolute;
    left:-1000px;
    top:5px;
    z-index:999;
    background-color: white;
    color: black;
    font-family: 'Nova Flat', cursive;
}

.skip-link:focus {
    left:0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

[type=radio] {
    margin-right: 10px;
}

form .button {
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding: 50px 0 50px 0;
}

.nav-button-container,
[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;

}
.nav-button-container a,
[type="submit"] {
    font-family: "Rye", cursive;
    font-weight: 700;
    font-size: 3rem;
    display: inline-block;
    border-radius: 5%;
    padding: 30px;
    background-color: #219bc3;
}

.nav-button-container a:hover,
.nav-button-container a:focus,
[type="submit"]:hover,
[type="submit"]:focus {
    background-color: #68417f;
    color: white;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


