header {
    background-color: $primary-colour;
    height: 100vh;
}

h1 {
    font-family: "Rye", cursive;
    font-size: 7rem;
    letter-spacing: 3px;
    color: $font-colour;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
}

h2 {

    font-family: "Rye", cursive;
    font-size: 5rem;
    letter-spacing: 3px;
    color: $font-colour;
    text-align: center;
    width: 85%;
    padding-top: 80px;
    margin: 0 auto;
}

// Responsive styles

@media (max-width: 940px) {

    .nav-button-container {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {

    .nav-button-container {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
        padding-top: 30px; 
    }
}