header {
    background-color: #f2cfda;
    height: 100vh;
}

h1 {
    font-family: "Rye", cursive;
    font-size: 7rem;
    letter-spacing: 3px;
    color: black;
    text-align: left;
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
}

h2 {

    font-family: "Rye", cursive;
    font-size: 5rem;
    letter-spacing: 3px;
    color: black;
    text-align: left;
    width: 85%;
    padding-top: 80px;
    margin: 0 auto;
}

@media (max-width: 940px) {
    


}